@charset "utf-8";
.toolbar-item,.toolbar-layer{
  background:url(../../../../img/biz/jsx/commun/toolbar.png) no-repeat;
}
.toolbar{
  position:fixed;
  right:0px;
  top:30%;
}
.toolbar-item{
  display:block;
  width:52px;
  height:52px;
  margin-top:1px;
  position:relative;
  -moz-transition:background-position 1s;
  -ms-transition:background-position 1s;
  -o-moz-transition:background-position 1s;
  -webkit-moz-transition:background-position 1s;
  transition:background-position 1s;
}
.toolbar-item:hover .toolbar-layer{
  opacity:1;
  filter:alpha(opacity=100);
  transform:scale(1);
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
}
.toolbar-item-weixin{
  background-position:0 -798px;
}
.toolbar-item-weixin:hover{
  background-position:0 -860px;
}
.toolbar-item-weixin .toolbar-layer{
  height:212px;
  background-position:0 0;
}
.toolbar-item-feedback{
  background-position:0 -426px;
}
.toolbar-item-feedback:hover{
  background-position:0 -488px;
}
.toolbar-item-app{
  background-position:0 -550px;
}
.toolbar-item-app:hover{
  background-position:0 -612px;
}
.toolbar-item-app .toolbar-layer{
  height:194px;
  background-position:0 -222px;
}
.toolbar-item-top{
  background-position:0 -674px;
}
.toolbar-item-top:hover{
  background-position:0 -736px;
}
.toolbar-layer{
  position:absolute;
  right:46px;
  bottom:-10px;
  width:172px;
  opacity:0;
  filter:alpha(opacity=0);
  transform-origin: 95% 95%;
  -moz-transform-origin: 95% 95%;
  -ms-transform-origin: 95% 95%;
  -o-transform-origin: 95% 95%;
  -webkit-transform-origin: 95% 95%;
  transform:scale(0.01);
  -moz-transform:scale(0.01);
  -ms-transform:scale(0.01);
  -o-transform:scale(0.01);
  -webkit-transform:scale(0.01);
  transition:all 1s;
  -moz-transition:all 1s;
  -ms-transition:all 1s;
  -o-transition:all 1s;
  -webkit-transition:all 1s;
}

#dvWebSocket{
  position: fixed;
  /*margin-top:40px;*/
  bottom: 200px;
  /*right: 52px;*/
  right: 10px;
  width: 340px;
  height: 320px;
  background: white;
  opacity: 0.6;
  filter: alpha(opacity=60);
  border-radius: 10px;
  padding:10px;
  box-shadow:0 0 7px #000;
}
#dvWebSocketTitle{
  height: 10%;
  border-bottom: 1px solid #CCC;
  font-weight: bold;
  letter-spacing: 4px;
  text-indent: 10px;
  color:#b3a4a4;
}
#dvWebSocketBody{
  height: 80%;
  padding:5px;
  overflow: hidden;
  overflow-y: auto;
}
#dvWebSocketBody ul li {
  word-break: keep-all;
  word-wrap: break-word;
  font-size: 12px;
  padding:2px;
  letter-spacing: 2px;
  text-shadow: 0 0 1px #ccc;
}
#dvWebSocketFinal{
  border-top: 1px #ccc solid;
  padding:8px;
  height: 10%;
}
#txtTalkInfo{
  border:none;
  border-bottom: 1px solid black;
  width:160px;
  padding: 3px;
  letter-spacing: 2px;
}
#btnSend, #btnReturn{
  padding:3px;
  margin-left: 10px;
  cursor:pointer;
}
#spanName{
  font-size: 12px;
  overflow: hidden;
  display: inline-block;
  width:50px;
  height: 14px;
  font-weight: bold;
}
#spanMH{
  position: relative;
  top:-3px;
}
#spanNameInfo{
  width:37px;
  height: 14px;
  display: inline-block;
  overflow: hidden;
}
