.m-t-brow{
    min-width: 239px;
    height: 100px;
    width:calc(100% - 401px);
    display: inline-block;
    position: absolute;
}
.m-t-brow-menu{
    position: absolute;
    bottom:0;
    left:0;
    height:60px;
    width: 100%;
    font-weight: bold;
}
.m-t-brow-cube{
    display: inline-block;
    height: 38px;
    width: 100px;
    position: absolute;
    top:7px;
    left:-18px;
    background: #001ACB;
    border: 1px solid #3100BC;
    box-shadow: 0 0 1px white, inset 0 0 1px white;
    border-radius: 6px;
    opacity: .35;
    filter: alpha(opacity=35);
    z-index: -1;
}

/*
 * clean float here
*/
.m-t-float-clean{
    clear:both;
}
#dvMenuShow{
    float:left;
    height:100%;
}
#dvMenuShow ul{
   height:100%;
}
#dvMenuShow ul, #dvMenuShow ul li{
   float: left;
   line-height: 340%;
}
#dvMenuShow ul li {
    margin-right: 78px;
    cursor: pointer;
}
#dvMenuShow ul li:hover{
    color:white;
}

#dvShowLeaf{
  position:absolute;;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:transparent;
  z-index:998;
  /*display:none*/
}
.waveContainer,
.waveContent-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.waveContainer {
  position: absolute;
	background: transparent;/*#373a47;*/
}

.waveMenu-wrap a {
	color: #b8b7ad;
}

.waveMenu-wrap a:hover,
.waveMenu-wrap a:focus {
	color: #c94e50;
}

.waveContent-wrap {
	/*overflow-y: scroll;*/
	-webkit-overflow-scrolling: touch;
}

.waveContent {
	position: relative;
	/*background: #b4bad2;*/
	height: 100%;
 	background-repeat: no-repeat;
 	background-size: 100% 100%;
}

.waveContent::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
}

/* waveMenu Button */
.waveMenu-button {
	position: fixed;
	bottom: 0;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
}

.waveMenu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}

.waveMenu-button:hover {
	opacity: 0.6;
}

/* Close Button */
.close-button {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 16px;
	border: none;
	z-index: 1001;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #888;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* waveMenu */
.waveMenu-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1001;
	width: 100%;
	height: 160px;
	font-size: 1.15em;
	-webkit-transform: translate3d(0,160px,0);
	transform: translate3d(0,160px,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
}

.waveMenu {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
	text-align: center;
	/*top: 7%;*/
	/*padding: 0 1.5em;*/
	/*-webkit-transform: translate3d(0,-50%,0);*/
	/*transform: translate3d(0,-50%,0);*/
}

.icon-list a,
.close-button {
	opacity: 0;
	-webkit-transform: translate3d(0,200px,0);
	transform: translate3d(0,200px,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, transform 0.4s;

  outline: none;
  cursor: pointer;
}

.icon-list a {
	display: inline-block;
	padding: 0.8em;
}

.icon-list a i {
	vertical-align: middle;
}

.icon-list a span {
	display: inline-block;
	margin-left: 10px;
	font-size: 0.75em;
	vertical-align: middle;
	font-weight: 700;
	letter-spacing: 1px;
}

/* Morph Shape */
.morph-shape {
	position: absolute;
	width: 100%;
	width: calc(100% + 400px);
	height: 100%;
	top: 0;
	left: 0;
	fill: #91a8b8;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translate3d(-400px,0,0);
	transform: translate3d(-400px,0,0);

	opacity: .86;
	filter:alpha(opacity=86);
}
/* Shown waveMenu */
.show-menu .waveMenu-wrap,
.show-menu .icon-list a,
.show-menu .close-button,
.show-menu .morph-shape,
.show-menu .content::before {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.show-menu .menu-wrap,
.show-menu .content::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.show-menu .icon-list a,
.show-menu .close-button,
.show-menu .content::before {
	opacity: 1;
}

.show-menu .icon-list a:nth-child(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.show-menu .icon-list a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.show-menu .icon-list a:nth-child(4) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.show-menu .icon-list a:nth-child(5) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.show-menu .icon-list a:nth-child(6) {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.show-menu .close-button {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.show-menu .content::before {
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.WaveContent{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:transparent;
      display:none
}

.CsDoOpen{
	font-size:16px;
	font-weight:bold;
	font-family:YouYuan;
	cursor:pointer;
	margin-right:5%;
	margin-left:10px;
	text-shadow:0 0 2px white;
}
.CsDoOpen:hover{
	color:white;
	text-shadow:0 0 2px black;
}
.csDoTitle{
	text-align:left;
	text-indent:10px;
}
.csDoList{

}
.CsContentList{
	padding:15px;
	text-align:left;
	text-indent:50px
}
.CsWaveBtn{
	margin-bottom:10px;
	width:80px;
	height:40px;
	background:transparent;
	outline:none;
	border-radius:4px;
	box-shadow:0 0 1px green;
	border:1px solid green;
	cursor:pointer;
	color:yellow
}
.CsWaveBtn:hover{
	box-shadow:0 0 10px yellow;
	text-shadow:0 0 1px white;
	border:1px solid transparent;
}
.CsMoveCube{
	display:inline-block;
	height:38px;
	width:82px;
	position:absolute;
	background:#001ACB;
	top:49px;
	border:1px solid #3100BC;
	box-shadow:0 0 1px white, inset 0 0 1px white;
	border-radius:6px;opacity:.35;filter:alpha(opacity=35);z-index:-1;
}
