*{margin:0;padding:0;-webkit-user-select:none;-o-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
html,body{height: 100%}
body{background:black;background-image: url(../../../img/biz/st.cen/game/bg.jpg);}
